# EditorConfig is awesome: https://EditorConfig.org

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_style = tabs
indent_size = 2

[*.{yaml,yml,json}]
indent_style = spaces
indent_size = 2

[src/processes/*.json]
indent_style = spaces
indent_size = 4
