/node_modules/
/storage/collections/*.json
/storage/database/*.db
/storage/user_files/*
/storage/temp_files/*
/storage/job_files/*
/nbproject/
/package-lock.json
/.node-xmlhttprequest-sync-*
/privatekey.json
coverage/
/test-report.html
/logs
.idea