/node_modules/
/storage/collections/*.json
!/storage/collections/COPERNICUS_S1_GRD.json
!/storage/collections/COPERNICUS_S2.json
!/storage/collections/COPERNICUS_S2_SR.json
!/storage/collections/COPERNICUS_S3_OLCI.json
/storage/database/*.db
/storage/user_files/*
/storage/temp_files/*
/storage/job_files/*
/nbproject/
/package-lock.json
/.node-xmlhttprequest-sync-*
/privatekey.json
coverage/
/test-report.html
/logs